<header>
  <div id="logo1" class="header-title {{unless isBienvenida 'hide-logo'}}">
    {{#link-to mainPage }}
      <img class="logo-size logo-shadow" src="/logo.png" alt="TrumpUN">
    {{/link-to}}
  </div>
  <div id="logo2" class="header-title {{if isBienvenida 'hide-logo'}}">
    {{#link-to mainPage }}
      <img class="banner-size logo-shadow" src="/banner.png" alt="TrumpUN">
    {{/link-to}}
  </div>

  {{#if session.isAuthenticated}}
    <div class="header-log-info">
      <div>
        <img src="/img/{{rol}}.png" alt="{{rol}}" class="header-icon">
      </div>
      <div>
        {{usuario.nombre}}<br>
        <small class="pt-0 pb-0">{{rol}}</small>
      </div>
      <div>
        <button {{action 'salir' on="mouseUp"}} class="btn btn-danger">
          Salir
        </button>
      </div>

    </div>
  {{/if}}
</header>

<div class="main-body {{if isBienvenida "pt-trumpun" "pt-trumpun2"}}">
  {{outlet}}
</div>

<footer>
  <div class="row">
    <div class="footer-mov-text">DCPS</div>
    <div class="footer-desk-text">Diseño y Construcción de Productos de Software</div>
    <div>Grupo 9 - TrumpUN</div>
    <div>2018</div>
  </div>
</footer>