<div class="main-container">
  <div class="col-md-6 login-marco">
    <p class="h3 font-weight-bold">Registrar Contrato</p>

    <div class="signUp-input">
      <p>ID del arrendador</p>
      {{#power-select
        options=model.clientes
        selected=arrendador
        placeholder="Documento"
        selectedItemComponent="select-item-cliente"
        searchField="documento"
        onchange=(action "actualizarArrendador")
        as |arrendador_i|
      }}
        <div>
          <strong>{{arrendador_i.nombre}}</strong>
          <br>
          <small>Documento: <i>{{arrendador_i.documento}}</i></small>
        </div>
      {{/power-select}}
    </div>

    <div class="signUp-input">
      <p>ID del inmueble</p>
      {{#power-select
        options=model.clientes
        selected=arrendatario
        placeholder="Documento"
        selectedItemComponent="select-item-cliente"
        searchField="documento"
        onchange=(action "actualizarArrendatario")
        as |arrendatario_i|
      }}
        <div>
          <strong>{{arrendatario_i.nombre}}</strong>
          <br>
          <small>Documento: <i>{{arrendatario_i.documento}}</i></small>
        </div>
      {{/power-select}}
    </div>

    <div class="signUp-input">
      <p>ID del inmueble</p>
      {{#power-select 
        selected=inmueble 
        options=listaInmuebles
        placeholder="Identificador"
        noMatchesMessage="El inmueble no existe"
        onchange=(action "buscarInmueble") 
        as |inmueble_i|}}
          {{inmueble_i.identificador}}
      {{/power-select}}
    </div>

    <div class="signUp-input">
      <p>Valor alquiler</p>
      {{input type="text" value=valor class="form-control col-sm-11 col-md-9"}}
    </div>

    <div class="text-center">
      <button {{action 'generarContrato' on="mouseUp"}} class="btn btn-primary">
        Generar contrato
      </button>
      <button {{action 'cancelar' on="mouseUp"}} class="btn btn-primary">
        Cancelar
      </button>
    </div>
  </div>
</div>

{{outlet}}